a{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
body{
    background-color: #e5e5e5;
}
#box{
    width: 80%;
    margin: auto;
    font: 14px "Fira Sans", sans-serif;
}
.no-display
{
    display: none;
}
#header{
    padding-bottom: 10px;
}
.header-middle > div{
    display: flex;
    height: 100px;
    margin: 40px 40px 40px 10px;
    padding: 0;
    border: 1px solid #dcdddc;
}
.header-middle > div > div{
    width: 40px;
}
.header-middle > div > div > div:hover{
    width: 40px;
    opacity: 60%;
}
.header-middle > div > div > p{
    margin: 0px;
    text-align: center;
    width: 40px;
}
.header-left{
    width: 100%;
}
.header-right{
    min-width: 132px;
}
.header-right div p{
    margin: auto;
    margin-left: 5px;
}
.f-button{
    width: 50px;
    height: 20px;
    border: 1px solid #dcdddc;
    margin: 5px 0px;
    cursor: pointer;
}
.f-button:hover{
    opacity: 60%;
}
.f-button::before{
    display: block;
    content: "";
    background-color: #94a294;
    width: 25px;
    height: 20px;
}
.f-button[class*="active"]::before{
    background-color: white;
}
.line{
    margin: 10px 0px; 
    display: block;
    border: 2px dashed #ccbfbf;
}
.flex{
    display: flex;
}
.blue{
    background-color: #367ee1;
}
.red{
    background-color: #f2034b;
}
.green{
    background-color: #59e154;
}
.yellow{
    background-color: #d9e154;
}
.black{
    background-color: #460b08;
}
.error-text{
    color: #e16161;
    font-weight: bold;
}
.box-style{
    box-shadow: 0 5px 8px 0px #c1c1c1;
    padding: 0px 10px;
    background-color: white;
    border: 1px solid #c1c1c1;
}
.cve{
    margin-top: 10px;
}
.content{
    width: 100%;
}
.cve-number{
    display: flex;
    min-width: 40px;
    max-width: 40px;
}
.cve-number p{
    margin: auto 0;
}
.visible
{
    display: block;
}
.cve-id{
    display: flex;
    min-width: 135px;
}
.cve-id a{
    margin: auto 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.cve-desc{
    margin: 0px 10px;
    width: 100%;
    display: flex;
}
.cve-desc p{
    margin: auto;
}
.cve-button{
    min-width: 80px;
    margin: auto 5px;
}
.cve-result{
    min-width: 160px;
    max-width: 160px;
    display: flex;
    flex-direction: column;
}
.cve-result div{
    height: 5px;
}
.cve-result p{
    margin: auto 5px;
    word-wrap: break-word;
}
.commit-box{
    margin-top: 1px;
    margin-left: 51px;
}
.commit-info{
    width: 100%;
    border-right: 1px dashed #dcdddc;
}
.commit-top-box{
    margin: 0px 10px 10px 0px;
    text-align: end;
}
.expander{
    border: 1px solid #dcdddc;
    margin: auto 5px;
    cursor: pointer;
}
.expander:hover{
    background-color: #dcdddc;
    color: #0d153c;
}
.expander p{
    margin: 0px;
    padding: 5px
}
.expander p::before{
    content: "\276F";
    text-align: center;
    display: inline-block;
    margin: auto 8px;
    margin-left: 5;
    transform: rotate(90deg);
    transition-duration: 0.5s;
    transition-property: transform;
}
.expander[class*="expanded"] p::before{
    transform: rotate(270deg);
}
.expander-content{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
}
.expander-content[class*="expanded"]{
    border-top: 1px dashed #dcdddc;
}
.no-content{
    margin: 10px 0px;
    background-color: #ecb9b9;
    text-align: center;
    padding: 10px 0px;
}
.commit-score{
    width: 60px;
    min-width: 60px;
    height: 60px;
    margin: 10px 0px 10px 10px;
    padding: 5px;
    border: 1px solid #C29A92;
}
.score-filler{
    background-color: white;
    position: relative;
    width: 70px;
    top: -65px; 
    left: -5px;
    z-index: 1;
}
.score{
    height: 100%;
    background-color: white;
    position: relative;
    z-index: 2;
}
.score p:first-child{
    font-size: 14px;
}
.score p{
    text-align: center;
    margin: 0;
    padding-top: 10px;
    background-color: white;
    font-size: 10px;
}

